* {
    margin: 0;
    padding: 0;
}

section{
    text-align: center;
    font-family: serif;
    background-color: rgb(186, 243, 245);
    color: rgb(80, 80, 80);
}

section h1{
    font-size: 6em;
    font-weight: 300;
}

section p {
    font-size: 2em;
    padding-top: 80px;
}